body{
    background-color: cadetblue;
    font-family: Arial, Helvetica, sans-serif;
}
.title{
  font-size: 3rem;
}
.habits-container {
    background-color: #fff;
    border: 2px solid #f1f1f1;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 30px;
    width: 400px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    color: #555;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  
  input[type="text"] {
    border: 1px solid cadetblue;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    margin-bottom: 20px;
    outline: none;
    padding: 10px;
  }
  
  input[type="text"]::placeholder {
    color: #aaa;
  }
  
  button[type="submit"] {
    background-color: cadetblue;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    transition: background-color 0.3s ease-in-out;
  }
  
  button[type="submit"]:hover {
    background-color: rgb(120, 209, 212);
  }
  
  .allhabits{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

a{
    text-decoration: none;
    display: flex;
    color: black;
    background-color: #f1f1f1;
    width: 220px;
    padding: 6px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease-in-out;
}

.habitlist {
  max-height: 155px;
  overflow-y: scroll;
  background-color: #fff;
  border: 2px solid #f1f1f1;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 6px;
  width: 343px;
}

.habitlist a {
  text-decoration: none;
  color: white;
  background-color: #008CBA;
  width: 220px;
  padding: 6px;
  margin: 5px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in-out;
}

.habitlist a:hover {
  background-color: #006B8F;;
}

.lista{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  width: 100%;
  border-radius: 10px;
  background-color: cadetblue;
  border: 1px solid whitesmoke;
  font-size: 1.2rem;
  color: #fff;
  height: 37px;
}

.lista:hover{
  background-color: rgb(120, 209, 212);
}
  
